#volumeSlider, #timeSlider{
    width: 100%;
}

.control-line{
    margin: 20px 0;
}

.control-buttons button{
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
}

.slider-label{
    padding-right: 90px;
    font-size: 90%;
}