<div class="row control-line">
    <div class="col-xs-4">
      <button class="btn btn-default btnPrev">
        <span class="glyphicon glyphicon-fast-backward"></span>
      </button>
    </div>
    <div class="col-xs-4">
      <button class="btn btn-default btnPlay">
        <span class="glyphicon glyphicon-play"></span>
      </button>
    </div>
    <div class="col-xs-4">
      <button class="btn btn-default btnNext">
        <span class="glyphicon glyphicon-fast-forward"></span>
      </button>
    </div>
</div>
<div class="row control-line">
  <div class="col-lg-1">Volume:</div>
  <div class="col-lg-11">
    <input type="range" id="volumeSlider"></input>
  </div>
</div>
<div class="row control-line">
  <div class="col-lg-1">Time:</div>
  <div class="col-lg-11">
    <input type="range" id="timeSlider"></input>
  </div>
</div>

