<table class="table-playlist table table-condensed table-bordered">
  <thead>
      <tr>
          <th>.</th>
          <th>artist</th>
          <th>album</th>
          <th>num</th>
          <th>title</th>
      </tr>
  </thead>
  <tbody>
  </tbody>
</table>