<table class="table-playlist table table-condensed table-striped table-bordered">
  <thead>
      <tr>
          <th>artist</th>
          <th>album</th>
          <th>num</th>
          <th>title</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Solor sit</td>
          <td>Lorem ipsum dolor</td>
          <td>01</td>
          <td>dolor sit amet, consectetur</td>
      </tr>
      <tr>
          <td>Solor sit</td>
          <td>Lorem ipsum dolor</td>
          <td>02</td>
          <td>dolor sit amet, consectetur</td>
      </tr>
      <tr>
          <td>Solor sit</td>
          <td>Lorem ipsum dolor</td>
          <td>03</td>
          <td>dolor sit amet, consectetur</td>
      </tr>
      <tr>
          <td>Solor sit</td>
          <td>Lorem ipsum dolor</td>
          <td>04</td>
          <td>dolor sit amet, consectetur</td>
      </tr>
  </tbody>
</table>