<div class="row">
    <div class="col-lg-1 status-label">Artist:</div>
    <div class="col-xs-9 status-info"><%= artist %></div>
</div>
<div class="row">
    <div class="col-lg-1 status-label">Album:</div>
    <div class="col-xs-9 status-info"><%= album %></div>
</div>
<div class="row">
    <div class="col-lg-1 status-label">Track:</div>
    <div class="col-xs-9 status-info"><%= track %></div>
</div>
<div class="row">
    <div class="col-lg-1 status-label">Title:</div>
    <div class="col-xs-9 status-info"><%= title %></div>
</div>
