<div class="row">
    <div class="col-lg-1 status-label">Artist:</div>
    <div class="col-xs-9 status-info">Solor sit</div>
</div>
<div class="row">
    <div class="col-lg-1 status-label">Album:</div>
    <div class="col-xs-9 status-info">Lorem ipsum dolor</div>
</div>
<div class="row">
    <div class="col-lg-1 status-label">Num:</div>
    <div class="col-xs-9 status-info">00</div>
</div>
<div class="row">
    <div class="col-lg-1 status-label">Title:</div>
    <div class="col-xs-9 status-info">dolor sit amet, consectetur</div>
</div>
