<div class="row">
    <div class="col-xs-3">Artist:</div>
    <div class="col-xs-9">Solor sit</div>
</div>
<div class="row">
    <div class="col-xs-3">Album:</div>
    <div class="col-xs-9">Lorem ipsum dolor</div>
</div>
<div class="row">
    <div class="col-xs-3">Num:</div>
    <div class="col-xs-9">00</div>
</div>
<div class="row">
    <div class="col-xs-3">Title:</div>
    <div class="col-xs-9">dolor sit amet, consectetur</div>
</div>
