<div class="row">
    <div class="status-label col-lg-1  col-xs-2">Artist:</div>
    <div class="status-info  col-lg-11 col-xs-9"><%= artist %></div>
</div>
<div class="row">
    <div class="status-label col-lg-1  col-xs-2">Album:</div>
    <div class="status-info  col-lg-11 col-xs-9"><%= album %></div>
</div>
<div class="row">
    <div class="status-label col-lg-1  col-xs-2">Track:</div>
    <div class="status-info  col-lg-11 col-xs-9"><%= track %></div>
</div>
<div class="row">
    <div class="status-label col-lg-1  col-xs-2">Title:</div>
    <div class="status-info  col-lg-11 col-xs-9"><%= title %></div>
</div>
