.table-playlist th{
    font-size: 0.9em;
    background-color: #EEF;
}
.table-playlist td{
    font-size: 0.9em;
}
.table-playlist td{
    cursor: pointer;
}
.selectedSong{
    background-color: #ACD6F6;
    font-weight: bold;
}
