<div class="row control-line control-buttons">
      <button class="btn btn-default btnPrev">
        <span class="glyphicon glyphicon-fast-backward"></span>
      </button>
      <button class="btn btn-default btnPlay">
        <span class="glyphicon glyphicon-play"></span>
      </button>
      <button class="btn btn-default btnNext">
        <span class="glyphicon glyphicon-fast-forward"></span>
      </button>
</div>
<div class="row control-line">
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-11 col-lg-offset-1">
        <div id="timeSliderLabel" class="slider-label">Time: .</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-11 col-lg-offset-1">
        <input type="range" id="timeSlider"></input>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div id="volumeSliderLabel" class="slider-label">Volume:</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <input type="range" id="volumeSlider"></input>
      </div>
    </div>
  </div>
</div>

