
<audio id="nativeAudio" class="col-xs-12" preload="auto" controls></audio>
<div class="row control-line control-buttons">
  <button class="btn btn-default btnPrev col-xs-5 col-xs-offset-1">
    <span class="glyphicon glyphicon-fast-backward"></span>
  </button>
  <button class="btn btn-default btnNext col-xs-4 col-xs-offset-1">
    <span class="glyphicon glyphicon-fast-forward"></span>
  </button>
</div>

